In [26]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report

In [4]:
bank_full = pd.read_csv('02_01/bank_full_w_dummy_vars.csv')
bank_full.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_unknown,job_retired,job_services,job_self_employed,job_unemployed,job_maid,job_student,married,single,divorced
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,1,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,...,0,0,0,0,0,0,0,1,0,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,...,1,0,0,0,0,0,0,0,1,1

In [7]:
bank_full.iloc[:,1:3]

(45211, 37)

In [14]:
X = bank_full.iloc[:,18:37].values

In [19]:
X.shape

(45211, 19)

In [15]:
y = bank_full.iloc[:,17].values

In [17]:
LogReg = LogisticRegression()

LogReg.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [22]:
#new_users = np.asarray([0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1]).reshape(1, -1)

#y_pred = LogReg.predict(new_users)

y_pred = LogReg.predict(X)

y_pred

array([0, 0, 0, ..., 1, 0, 0])

### Measure the matrix

In [27]:
print(classification_report(y,y_pred))

             precision    recall  f1-score   support

          0       0.90      0.99      0.94     39922
          1       0.67      0.17      0.27      5289

avg / total       0.87      0.89      0.86     45211